{% content get('id') %}
<section class="career">
	<div class="container">
		<div class="detail">
			<div class="row">
				<div class="col-md-8">
					<div class="lined-text">
						<hr>
						<a style="text-decoration: none;" href="/Careers">
							<h6>Back to careers</h6>
						</a>

					</div>
					<p class="title" style="line-height: 1;">{{content.local.title}}</p>
					<div class="cont">
						<div class="items">
							<div class="item">
								<span>Experience:</span>
								<span>{{content.local.experience}}</span>
							</div>
							<div class="item">
								<span>Job Type:</span>
								<span>{{content.local.job}}</span>
							</div>
							<div class="item">
								<span>Published at:</span>
								<span>{{content.local.published}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container pt-5">
	<div class="row">
		<div class="col-md-8">
			<web-view blocks="{{ content.local.blocks | json }}"></web-view>
		</div>
	</div>
</div>
<div class="container">
	{{'website/careerform' | vue({title:content.local.title})}}
</div>
{% endcontent %}

{% contents type='careers' limit='3' %}
<section class="jobs">
	<div class="container">
		<div class="text-center simle">
			<span class="text-primary love fw-bold">JOBS OFFERS</span>
		</div>
		<div>
			<h1 class="text-primary text-center fw-bold">See our current open positions</h1>
		</div>
		<div class="row">
			{% set d = 0 %}
			{% for content in contents %}
				<div class="col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="{{d}}">
					<div class="jobs-card d-flex flex-column justify-content-around">
						<div class="title">
							<h4 class="text-primary">{{content.local.title}}</h4>
						</div>
						<div class="items">
							<div class="item">
								<span>Experience:</span>
								<span>{{content.local.experience}}</span>
							</div>
							<div class="item">
								<span>Job Type:</span>
								<span>{{content.local.job}}</span>
							</div>
							<div class="item">
								<span>Published at:</span>
								<span>{{content.local.published}}</span>
							</div>
						</div>
						<div class="bottom">
							<a href="{{ url('/default/content', {id:content.id}) }}">
								<button class="btn-gradient-2">Apply Now</button>
							</a>
						</div>
					</div>
				</div>
				{% set d = d + 200 %}
			{% endfor %}
		</div>
	</div>
</section>
{% endcontents %}
